//variables globales

//fonts
$mainFont: "Dosis", sans-serif;


//sizing 
$textSm: 1.3em;
$textMd: 1.8em;
$textLg: 2em;
$textXl: 3em;

//font weight
$fontLight: 100;
$fontBold: 600;
$fontRegular: 400;

//colors
$mainColor: #fff;
$secondaryColor: #8f50ec;
$colorTitle: deeppink;