//imports
* {
    font-family: "Dosis", sans-serif;
    padding: 0;
    margin: 0;
  }

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import "_vars";
@import "_commons";
@import "_contacto";
@import "_mixins";